In [2]:
from bs4 import BeautifulSoup

In [5]:
html_doc= """"

<html>
    <body>
        <table border="1" >
  <tr>
    <th>Name</th>
    <th>Favortie Computer Language</th>  
    <th>Years of Experience</th>
  </tr>
  <tr>
    <td>Fred</td>
    <td>Kotlin</td>
    <td>4</td>
  </tr>
  <tr>
    <td>Paula</td>
    <td>Python</td>
    <td>2</td>
  </tr>
  <tr>
    <td>Ernst</td>
    <td>Java</td>
    <td>7</td>
  </tr>
  <tr>
    <td>Isabel</td>
    <td>C++</td>
    <td>3</td>
  </tr>
  <tr>
    <td>Tony</td>
    <td>Pearl</td>
    <td>7</td>
  </tr>
  <tr>
    <td>Maria</td>
    <td>Cobol</td>
    <td>15</td>
  </tr>
</table>
    </body>
</html>
"""
soup = BeautifulSoup(html_doc, 'html.parser')    

## Find All the (table> tags in the soup object by apply the method find("table") to it
table = soup.find('table')
print(table)

<table border="1">
<tr>
<th>Name</th>
<th>Favortie Computer Language</th>
<th>Years of Experience</th>
</tr>
<tr>
<td>Fred</td>
<td>Kotlin</td>
<td>4</td>
</tr>
<tr>
<td>Paula</td>
<td>Python</td>
<td>2</td>
</tr>
<tr>
<td>Ernst</td>
<td>Java</td>
<td>7</td>
</tr>
<tr>
<td>Isabel</td>
<td>C++</td>
<td>3</td>
</tr>
<tr>
<td>Tony</td>
<td>Pearl</td>
<td>7</td>
</tr>
<tr>
<td>Maria</td>
<td>Cobol</td>
<td>15</td>
</tr>
</table>

In [6]:
headers = table.find_all("th")
print(headers)

[<th>Name</th>, <th>Favortie Computer Language</th>, <th>Years of Experience</th>]

In [7]:
titles = []

for i in headers:
    title = i.text
    titles.append(title)
    
print(titles)

['Name', 'Favortie Computer Language', 'Years of Experience']

In [8]:
df = pd.DataFrame(columns=titles)
print(df)

Empty DataFrame
Columns: [Name, Favortie Computer Language, Years of Experience]
Index: []

In [11]:
rows = table.find_all("tr")
print(rows)

[<tr>
<th>Name</th>
<th>Favortie Computer Language</th>
<th>Years of Experience</th>
</tr>, <tr>
<td>Fred</td>
<td>Kotlin</td>
<td>4</td>
</tr>, <tr>
<td>Paula</td>
<td>Python</td>
<td>2</td>
</tr>, <tr>
<td>Ernst</td>
<td>Java</td>
<td>7</td>
</tr>, <tr>
<td>Isabel</td>
<td>C++</td>
<td>3</td>
</tr>, <tr>
<td>Tony</td>
<td>Pearl</td>
<td>7</td>
</tr>, <tr>
<td>Maria</td>
<td>Cobol</td>
<td>15</td>
</tr>]

In [13]:
for i in rows[1:4]:
    print(i)

<tr>
<td>Fred</td>
<td>Kotlin</td>
<td>4</td>
</tr>
<tr>
<td>Paula</td>
<td>Python</td>
<td>2</td>
</tr>
<tr>
<td>Ernst</td>
<td>Java</td>
<td>7</td>
</tr>

In [17]:
for i in rows[1:]: 
    data = i.find_all("td")
    row = [tr.text for tr in data]     
    l =len(df)                        
    df.loc[l]= row 
    
df.head()

     Name Favortie Computer Language Years of Experience
0    Fred                     Kotlin                   4
1   Paula                     Python                   2
2   Ernst                       Java                   7
3  Isabel                        C++                   3
4    Tony                      Pearl                   7